<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Count.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ECDA82DE1C6B58B000645230</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECDA82F21C6B58B000645230</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECDA82FD1C6B58B000645230</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
